*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: gold;
}
.container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    width: 50%;
    height: 650px;
    margin: auto;
    background-image: url(../img/bomb.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
    
.row{
 text-align: center;
 width: 50%;
     
}
  button{
      padding: 10px;
      background-color: gold;
      margin-top: 20px;
      
  }  
      
    